.card{
    width: 350px;
    height: 515px;
    margin: 100px auto;
    background-color: white;
}
.card-inner{
    width: 100%;
    height: 100%;
    position: relative;
    transition:  transform 1s;
    transform-style: preserve-3d;
}
.front, .black {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    position: absolute;
   
}
.front{
    background: url(/src/assets/pexels-julia-m-cameron-4144100.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    padding: 60px 40px;
    display: flex;
    flex-direction: column;
     justify-content: flex-end;
     height: 100%;
     backface-visibility: hidden;
}

 
.front button{
    width: 140px ;
    border: 1px solid #fff;
    background: transparent;
    border-radius: 50px;
    padding: 8px 20px ;
    color: white;
    margin-top: 20px;
}
.back{
    background-color: white;
    color: #333;
    padding: 20px 40px;
    transform: rotateY(180deg);
    
    backface-visibility: hidden;
}
.card:hover .card-inner{
    transform: rotateY(180deg);
}